.cartItem {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #FFFF;
    width: 25vw;
    height: 10vh;
    align-items: center;
    border-radius: 7px;
    margin-top: 2vh;
    box-shadow: -2px 2px 10px 0px #0000000D;

}

.cartItemNone {
    display: none;
}

.cartItem Img {
    width: 3vw;
    height: 6vh;
    padding-left: 8px;
}

.cartItemName {
    margin-left: 8px;
    text-align: left;
    max-width: 25%;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.cartItemName p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}




.itemCount {
    display: flex;
    position: relative;
    margin-left: 3vw;
}

.itemCount span {
    position: absolute;
    bottom: 120%;
    right: 80%;
    font-size: 10px;
    font-weight: 400;
    line-height: 6px;
    letter-spacing: 0em;


}

.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 0.3px solid #000000;
    width: 3.5vw;
    justify-content: space-around;

}

.counter button:first-child {
    all: unset;
    color: #000000;
    border-right: 1px solid;
    padding-right: 0.3vw;
    font-size: large;
    font-weight: 600;
}

.counter p {
    display: flex;
    width: 1vw;
    align-self: center;
    justify-content: center;

}

.counter button:last-child {
    all: unset;
    color: #000000;
    padding-left: 0.2vw;
    font-size: larger;
    font-weight: 600;
    border-left: 1px solid;

}


.counterBar {
    color: #BFBFBF;
    margin: 0px;

}

.cartItemPrice {
    margin-left: 15%;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
}

.closeCartItem {
    position: absolute;
    bottom: 84%;
    left: 96%;
    border-radius: 100%;
    width: 21px;
    height: 21px;
}