.card {
    height: 40vh;
    width: 17vw;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 14px 21px 21px 7px;
    border-radius: 10%;
    position: relative;
    box-shadow: 0px 2px 8px 0px #00000022;

}

.productImg {
    padding-top: 8px;
    height: 12vh;
    width: 12vh;
    align-self: center;
    margin-bottom: 1rem;
}



.productImg:hover {
    transform: scale(1.1);
    transition: 0.5s;
}



.price {
    margin-left: 8px;
    background-color: #373737;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0px;
    border-radius: 5%;
    color: #FFFFFF;
    padding: 7px;
    width: fit-content;
    position: absolute;
    top: 75%;
}

.productName {
    padding-left: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 2%;
    color: #2C2C2C;

}


.description {
    padding-top: 8px;
    padding-left: 6px;
    text-align: left;
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0px;
    color: #2C2C2C;
}

.description p {
    padding-left: 3px;
}


.description::first-letter {
    text-transform: uppercase;
}

.card button {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-around;
    margin-right: 1vw;
    background-color: #0F52BA;
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 15px 15px;
    border-color: #0F52BA;
    border-style: solid;

}

.card button:hover {
    background-color: #340fba;
    border-color: #340fba;


}

.card button img {
    height: 70%;
    width: 7%;
}

.card button p {
    height: 14px;
    width: 50%;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    display: flex;
    align-items: center;

}