footer {
    background-color: #EEEEEE;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}